{% extends 'base.html' %}
{% block title %}班级成绩数据{% endblock title %}
{% block page_title %}班级成绩数据{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">用户中心</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user:class-manage' %}">学校管理</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Form Advanced Styles -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

<!-- Main Content -->
{% block main %}
<div class="card col-12">
    <div class="table-responsive" style="margin-top: 20px;">
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#papermodal">
            <i class="mdi mdi-plus mr-2"></i>新建试卷
        </button>
        <br>
        </br>
        <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead class="thead-light">
                <tr>
                    <th style="width: 20px;">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customercheck">
                            <label class="custom-control-label" for="customercheck">&nbsp;</label>
                        </div>
                    </th>
                    <th>学校ID</th>
                    <th>学校全称</th>
                    <th>学校英文全称</th>
                    <th style="width: 120px;">学校英文缩写</th>
                </tr>
            </thead>
            <tbody>
                {% for schl in school_list %}
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="ques_id_{{ ques.ques_id }}">
                                <label class="custom-control-label" for="ques_id_{{ ques.ques_id }}">&nbsp;</label>
                            </div>
                        </td>
                        <td>{{ schl.school_id }}</td>
                        <td>{{ schl.school_name }}</td>
                        <td>{{ schl.school_name_en }}</td>
                        <td>{{ schl.school_abbr }}</td>
                        <!-- <td>
                            <a href="javascript:void(0);" data-target="#question-edit-modal" class="mr-3 text-primary" data-toggle="modal" data-placement="top" title="" data-original-title="编辑"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <a href="javascript:void(0);" class="text-danger" data-toggle="modal" data-placement="top" title="" data-original-title="删除"><i class="mdi mdi-trash-can font-size-18"></i></a>
                        </td> -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <!-- end row -->




{% endblock main %}

<!-- JS -->
{% block js %}
    <!-- Form Validation -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    <!-- Plugins js -->
    <script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>

    <!-- Form Advanced -->
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

    <!-- Custom Pages -->
    <script src="{% static 'js/custom-pages/class-manage.js' %}"></script>

{% endblock js %}
