{% extends 'user/user-manage-base.html' %}
{% block title %}学生管理{% endblock title %}
{% block page_title %}学生管理{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">管理员</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user:student-manage' %}">学生管理</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Form Advanced Styles -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

<!-- Main Content -->

{% block right_body %}
    <div class="table-responsive" style="margin-top: 20px;">
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#student_add">
            <a class="mdi mdi-plus mr-2"></a>添加学生
        </button>
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#download-unjoined-students">
            <a class="mdi mdi-plus mr-2"></a>导出未加入学生列表
        </button>
        <button type="button" class="btn btn-danger mb-2" data-toggle="modal" data-target="#delete-selected-student">
            <a class="mdi mdi-minus mr-2"></a>删除选定学生
        </button>
        <br>
        <br>
        <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead class="thead-light">
                <tr>
                    <th style="width: 20px;">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customercheck">
                            <label class="custom-control-label" for="customercheck">&nbsp;</label>
                        </div>
                    </th>
                    <th>学生ID</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>班级</th>
                    <th>班级识别码</th>
                    <!-- <th>试卷总分</th> -->
                    <th>加入状态</th>
                    <th style="width: 120px;">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for std in student_list %}
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="student_id_{{ std.record_id }}">
                                <label class="custom-control-label" for="student_id_{{ std.record_id }}">&nbsp;</label>
                            </div>
                        </td>
                        <td>{{ std.record_id }}</td>
                        <td>{{ std.full_name }}</td>
                        <!-- <td style="text-overflow: ellipsis; overflow: hidden; max-width: 150px;">{{ paper.paper_desc }}</td> -->
                        <td>{{ std.internal_id }}</td>
                        <td>{{ std.classroom }}</td>
                        <td>{{ std.join_code }}</td>
                        <td>
                            <div class="badge badge-soft-info font-size-12">{{ std.join_status }}</div>
                        </td>
                        <td>
                            <a href="javascript:void(0);" data-target="#question-edit-modal" class="mr-3 text-primary" data-toggle="modal" data-placement="top" title="" data-original-title="编辑"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <!-- <a href="javascript:void(0);" class="text-danger" data-toggle="modal" data-placement="top" title="" data-original-title="删除"><i class="mdi mdi-trash-can font-size-18"></i></a> -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
{% endblock right_body %} right side content



<!-- JS -->
{% block js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Form Validation -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    <!-- Plugins js -->
    <script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>

    <!-- Form Advanced -->
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- form mask -->
    <script src="{% static 'libs/inputmask/jquery.inputmask.min.js' %}"></script>

    <!-- form mask init -->
    <script src="{% static 'js/pages/form-mask.init.js' %}"></script>

    <!-- Custom Pages -->
    <script src="{% static 'js/custom-pages/questions-manage.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>
{% endblock js %}
